body {
    margin: 0px;
}

header {
    width: 1280px;
    height: 420px;
    margin: auto;
    background-image: url(/img/line.png);
    text-align: center;
    padding-top: 145px;
}

h3 {
    font-family: Montserrat;
    font-size: 12pt;
    font-weight: bold;
    color: #898f99;
    display: block;
    margin: 0px;
    padding-top: 41px;
}

h1 {
    font-family: Montserrat;
    font-size: 48pt;
    font-weight: normal;
    color: #0ec8cb;
    display: block;
    padding-top: 41px;
}

p {
    font-family: PT Sans, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    color: #999999;
    margin: 0px;
  }

#big {
    height: 556px;
    width: 1280px;
    height: 556px;
    margin: auto;
    background-image: url(/img/line.png);
    }

ul {
    margin: auto;
    padding-left: 170px;
    height: 420px;
}

.list {
    display: inline-block;
    list-style: none;
    width: 230px;
    height: 420px;
    text-align: center;
    vertical-align: middle;
    padding-top: 55px;
}

.list p {
    font-family: PT Sans, sans-serif;
    font-size: 12pt;
    color: #777777;

}

.list h2 {
    font-family: PT Sans, sans-serif;
    font-size: 21pt;
    color: black;
}

div#big ul li.list:hover {
    background-color: rgba(14, 200, 203, 0.308);
    color: white;
}

div#big ul li.list:hover svg path{
    fill: white;
}
div#big ul li.list:hover p,
div#big ul li.list:hover h2
{
    color: white;
}